/* width */
::-webkit-scrollbar {
    /* width: 5px !important; */
    width: 2px !important;
    height: 10px !important;
    background: transparent !important;

}

*::-webkit-scrollbar:hover {
    width: 5px !important;
    height: 10px !important;
    background: transparent !important;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent !important;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(163, 160, 160) !important;
    border-radius: 10px !important;
}

/* hide buttons on the scrollbar*/
::webkit-scrollbar-button {
    display: none !important;
}

/* hide scrollbar corner */
::webkit-scrollbar-corner {
    display: none !important;
}

/* hide resizer */
::-webkit-resizer {
    display: none !important;
}
